@if (&) {
  &__button {
    @extend %icon;
    @extend %icon__button;

    &-purple {
      background: $primary_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}