mixin list(options)
    - let defaultOptions = {items: []};
    - let {items, className} = Object.assign(defaultOptions, options)
    - className = className.split('.').join(' ');

    .list(class= className)
        if block
            block