include ../../common/header/header
include ../../common/footer/footer
include ../../common/pagination/pagination
include ../../common/cards/number-card

html
    title TOXIN
    body
        main.main.main_full
            block main
                +header({
                    className: '.header_position_absolute.header_top.header_center',
                    registerButtonName: "Зарегестрироваться",
                    loginButtonName: "Войти",
                    menuItems: [
                        {name: "О нас"},
                        {
                            name: "Услуги", className: ".menu.menu__item.menu__dropdown", submenu: [
                                {name: "1"},
                                {name: "2"},
                                {name: "3"}
                            ]
                        },
                        {name: "Вакансии"},
                        {name: "Новости"},
                        {
                            name: "Соглашения", className: ".menu.menu__item.menu__dropdown", submenu: [
                                {name: "1"},
                                {name: "2"},
                                {name: "3"}
                            ]
                        },
                    ]
                })
        +footer__widgets({
            companyDescription: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            groups: [
                {
                    title: "навигация", items: [
                        {name: "О нас"},
                        {name: "Новости"},
                        {name: "Служба поддержки"},
                        {name: "Услуги"},
                    ]
                },
                {
                    title: "о нас", items: [
                        {name: "О сервисе"},
                        {name: "Наша команда"},
                        {name: "Вакансии"},
                        {name: "Инвесторы"},
                    ]
                },
                {
                    title: "Служба поддержки", items: [
                        {name: "Соглашения"},
                        {name: "Сообщества"},
                        {name: "Связь с нами"}
                    ]
                },
            ],
            subscription: {
                title: "Подписка",
                placeholder: "Email",
                description: "Получайте специальные предложения и новости сервиса",
                className: ".grid.grid__list.grid__list_gap_20"
            },
            copyright: {
                text: "Copyright © 2018 Toxin отель. Все права зачищены."
            }
        })