.input-group {
  @extend %group;
  grid-gap: 5px;

  &_full {
    @extend %group_full;
  }

  &_half {
    @extend %group_half;
  }

  &_middle {
    @extend %group_middle;
  }

  &__title {
    @extend %group__title;
  }

  &__comment {
    @extend %group__comment;
  }

  &__content {
    @extend %group__content;
  }

  &__text {
    @extend %body;
    width: 100%;
    height: 44px;
    background: $white;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 15px;

    &::placeholder {
      line-height: 129%;
      color: $dark25;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark50;
      outline: none;
    }
  }

  &__drop-down {
    @extend .input-group__text;

    &_placeholder {
      @extend .input-group__text::placeholder;
    }
  }

  &__subscription {
    @extend .input-group__text;
  }

  // Используется шрифт Material Icons см https://material.io/resources/icons/
  &__button {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 1.9;
    color: $dark50;
    border: none;

    &:hover,
    &:focus {
      outline: none;
    }

    &-purple {
      background: $primary_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}