//-
    options.title
    options.placeholder
    options.mask
    options.value
    options.id

mixin input-group__masked-field(options)
    - let defaultOptions = {mask: "", id: '', width: "input-group_full"};
    - let {mask, width} = Object.assign(defaultOptions, options);
    +input-group__text(options)
    