mixin input-group__drop-down(title, placeholder, text, items)
    include ../menu/menu
    .input-group
        label.input-group__title= title
        .input-group__drop-down= text
        .input-group__button expand_more
        +menu(items, true)