include ../menu/menu

//-
    options.placeholder - placeholder
    options.items
    option.value

mixin input-group__drop-down(options)
    - let defaultOptions = {placeholder: ""};
    - let {placeholder, value} = Object.assign(defaultOptions, options);
    .input-group__drop-down
        .input-group__drop-down_placeholder= value ? value : placeholder
        .input-group__button expand_more
        if block
            block