include ../../common/container/container
include ../../common/page/page
include ../../common/header/header__watermark
include ../../common/input-group/input-group
include ../../common/checkbox-group/checkbox-group
include ../../common/checkbox/checkbox
include ../../common/rate/rate

+container
    +page
        +header__watermark
            .logo
        .grid.grid__3-columns.grid__3-columns_gap_125
            .grid.grid__list.grid__list_gap_20
                +input-group({title: "Text field"})
                    +input-group__text({
                        placeholder: "Email"
                    })
                +input-group({title: "Text field"})
                    +input-group__text({
                        placeholder: "email",
                        value: "This is pretty awesome"
                    })
                +input-group({title: "Drop down"})
                    +input-group__drop-down({placeholder: "Сколько гостей"})
                        +menu(items)
                +input-group({title: "Masked text field"})
                    +input-group__masked-field({placeholder: "ДД.ММ.ГГГГ"})
                +input-group()
                    .grid.grid__2-columns.grid__2-columns_gap_20
                        +input-group({
                            title: "Date dropdown",
                            width: "half"
                        })
                            +input-group__drop-down({
                                placeholder: "ДД.ММ.ГГГГ"
                            })
                        +input-group({
                            title: "Date dropdown",
                            width: "half"
                        })
                            +input-group__drop-down({
                                placeholder: "ДД.ММ.ГГГГ",
                                value: "19.08.2019"
                            })
                +input-group({
                    title: "Filter date dropdown",
                    width: "middle"
                })
                    +input-group__drop-down({value: "19 авг - 23 авг"})
                +input-group({
                    title: "Subscription text field",
                    width: "middle"
                })
                    +input-group__subscription({
                        placeholder: "Email",
                    })
            .grid.grid__list.grid__list_gap_50
                +checkbox-group({title: "Checkbox buttons"})
                    .grid.grid__list.grid__list_gap_5
                        +input-group
                            +checkbox({label: "Можно курить"})
                        +input-group
                            +checkbox({label: "Можно с питомцами", checked: true})
                        +input-group
                            +checkbox({label: "Можно пригласить гостей (до 10 человек)", checked: true})
                +checkbox-group({title: "Radio buttons", width: "middle"})
                    .grid.grid__2-columns
                        +checkbox({label: "Мужчина", type: "radio", name: "male", checked: true})
                        +checkbox({label: "Женщина", type: "radio", name: "male"})
                +checkbox-group({title: "Toggle"})
                    .grid.grid__list.grid__list_gap_10
                        +checkbox({
                            label: "Получать спецпредложения",
                            name: "toggle",
                            checked: true,
                            className: "switch"})
                        +checkbox({
                            label: "Получать спецпредложения",
                            name: "toggle",
                            className: "switch"
                        })
                +checkbox-group({title: "like button"})
                    .grid.grid__auto_columns
                        +checkbox({
                            name: 'like',
                            className: 'like',
                            count: 2
                        })
                        +checkbox({
                            name: 'like',
                            checked: true,
                            className: 'like',
                            count: 12
                        })
                +checkbox-group({title: "rate button"})
                    .grid.grid__2-columns
                        +rate({stars: 4})
                        +rate({stars: 5})
