include ./src/common/logo/logo
include src/common/input-group/input-group__text
include src/common/input-group/input-group__drop-down
include src/common/input-group/input-group__subscription

doctype html
html
    head
    body
        .card
            h1 Lorem ipsum dolor sit amet, consectetur
            h2 Lorem ipsum dolor sit amet, consectetur
            h3 Lorem ipsum dolor sit amet, consectetur
            p Lorem ipsum dolor sit amet, consectetur

            +input-group__text("Заголовок", "Placeholder", "text", "text")
            +input-group__drop-down("Заголовок", "Placeholder", "Сколько гостей", ['test', 'test2', "test3"])
            +input-group__subscription("Заголовок", "Placeholder", "email", "text")