%icon {
  font-family: "Material Icons";
  border: none;

  &__button {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    font-size: 24px;
    color: $dark50;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}