@if (&) {
  &_justify {
    &_space-between {
      justify-content: space-between;
    }

    &_center {
      justify-content: center;
      justify-items: center;
      text-align: center;
    }

    &_end {
      justify-items: end;
    }
  }
}