@if (&) {
  &__button {
    @extend %h3;

    &_confirm {
      grid-area: confirm;
      justify-self: end;
    }

    &_clear {
      grid-area: clear;
      color: $dark50;
      justify-self: start;
    }

    &_hide {
      display: none;
    }
  }
}