@if (&) {
  // Используется шрифт Material Icons см https://material.io/resources/icons/

  &__button {
    @extend %icon__button;
    pointer-events: none;

    &-purple {
      background: $primary_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & ~ input {
      padding-right: 40px;
    }
  }
}