mixin input__text_subscription(options)
    - const defaultOptions = {placeholder: '', value: ''};
    - let {placeholder, value} = Object.assign(defaultOptions, options);
    .input.input__subscription
        .input__button.input__button-purple arrow_forward
        input(type="email", placeholder= placeholder, value= value)