.grid {
  display: grid;

  @import "./_span/_span";

  &__auto-columns {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    @import "./_gap/_gap";
  }

  &__2-columns {
    grid-template-columns: 1fr 1fr;
    @import "./_gap/_gap";
  }

  &__3-columns {
    grid-template-columns: 320px 1fr 1fr;
    @import "./_gap/_gap";
  }

  &__list {
    grid-auto-columns: auto;
    align-content: baseline;
    @import "./_gap/_gap";
  }
}