.grid {
  display: grid;

  &__auto_columns {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }

  &__2-columns {
    grid-template-columns: 1fr 1fr;

    &_gap_24 {
      grid-gap: 24%;
    }

    &_gap_20 {
      grid-gap: 20px;
    }
  }

  &__3-columns {
    grid-template-columns: 1fr 1fr 1fr;

    &_gap_125 {
      grid-gap: 125px;
    }
  }

  &__list {
    grid-auto-columns: auto;
    align-content: baseline;

    &_gap_5 {
      grid-gap: 5px;
    }

    &_gap_10 {
      grid-gap: 10px;
    }

    &_gap_20 {
      grid-gap: 20px;
    }

    &_gap_50 {
      grid-gap: 50px;
    }

    &_gap_100 {
      grid-gap: 100px;
    }
  }
}