mixin footer__simple(options)
    - let defaultOptions = {};
    - let {} = Object.assign(defaultOptions, options)

    .footer
        .footer__simple.grid.content.grid__list.grid__list_gap_25
            .grid.grid__list.grid__list_gap_20.grid_width_560.grid_justify_center
                +logo({
                    className: ".logo__color.logo__title.logo__footer"
                })
                .company.company__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .grid.grid__auto-columns.grid__auto-columns_gap_20.grid_width_560.grid_justify_center
                a.social.social_color_purple(href="#")
                    i.fab.fa-twitter
                a.social.social_color_purple(href="#")
                    i.fab.fa-facebook-square
                a.social.social_color_purple(href="#")
                    i.fab.fa-instagram