mixin footer__widgets(options)
    - let defaultOptions = {};
    - let {} = Object.assign(defaultOptions, options);

    .footer
        .footer__widgets.content.grid
            .block
                .grid.grid__list.grid__list_gap_20
                    .logo.logo__color.logo__title
                    .company.company__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .block
                +group({
                    label: "Navigation",
                    className: ".grid.grid__list.grid__list_gap_20"
                })
                    ul.menu.menu__wrapper.grid__list_gap_25
                        li
                            a.menu.menu__item(href="#") about us
                        li
                            a.menu.menu__item(href="#") news
                        li
                            a.menu.menu__item(href="#") support
                        li
                            a.menu.menu__item(href="#") products
            .block
                +group({
                    label: "About Us",
                    className: ".grid.grid__list.grid__list_gap_20"
                })
                    ul.menu.menu__wrapper.grid__list_gap_25
                        li
                            a.menu.menu__item(href="#") Who we are
                        li
                            a.menu.menu__item(href="#") Our team
                        li
                            a.menu.menu__item(href="#") Careers
                        li
                            a.menu.menu__item(href="#") Investors
            .block
                +group({
                    label: "Support",
                    className: ".grid.grid__list.grid__list_gap_20"
                })
                    ul.menu.menu__wrapper.grid__list_gap_25
                        li
                            a.menu.menu__item(href="#") Documentation
                        li
                            a.menu.menu__item(href="#") Community
                        li
                            a.menu.menu__item(href="#") Get in Touch
            .block
                +group({
                    label: "Subscribe to our newsletter",
                    className: ".grid.grid__list.grid__list_gap_20"
                })
                    .grid.grid__list.grid__list_gap_25
                        .block.block_width_200
                            .company.company__description Receive our latest news and promotions in your inbox!
                        +input__text_subscription({
                            placeholder: "Your email address"
                        })
        +copyright