.logo {
  $border-width: 3px;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: $border-width solid $dark25;
  border-radius: 48px;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    height: 14.12px*2;
    width: 14.12px*2;
    border: $border-width solid transparent;
    transform: rotate(-45deg);
  }

  &:before {
    left: -6px;
    border-right-color: $dark25;
    border-radius: 30px;
  }

  &:after {
    right: -6px;
    border-radius: 30px;
    border-top-color: $dark25;
  }
}