//todo: доделать!!!
.logo {
  $border-width: 3px;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: $border-width solid $dark25;
  border-radius: 48px;

  &:before, &:after {
    content: '';
    position: relative;
    display: block;
    height: 14.12px*2;
    width: 14.12px*2;
    border: $border-width solid transparent;
  }

  &:before {
    top: 14px;
    left: -5px;
    border-right-color: $dark25;
    border-radius: 30px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -5px;
    bottom: 30px;
    border-radius: 30px;
    border-top-color: $dark25;
  }
}