.logo {
  $border-width: 3px;
  display: grid;
  grid-template-areas: "logo title";
  grid-template-columns: max-content max-content;
  grid-gap: 12.5px;
  align-items: center;
  align-content: center;

  &__footer {
    position: relative;
    top: -4px;
  }

  &__watermark {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__title {
    &:after {
      content: url("../common/logo/img/toxin.svg");
      grid-area: title;
    }
  }

  &:before {
    grid-area: logo;
  }

  &__grey {
    &:before {
      content: url("../common/logo/img/logo__grey.svg");
    }
  }

  &__color {
    &:before {
      content: url("../common/logo/img/logo__color.svg");
    }
  }
}