.page {
  padding-top: 70px;

  &_padding-top {
    &_100 {
      padding-top: 100px;
    }
    &_30 {
      padding-top: 30px;
    }
  }
  &_padding-bottom {
    &_85 {
      padding-bottom: 85px;
    }
    &_80 {
      padding-bottom: 80px;
    }
  }
}

