
mixin page(options)
    -
        let defaultOptions = {className: ""}
        let {className} = Object.assign(defaultOptions, options);
        className = className.split('.').join(' ');
    .page(class= className)
        block