@if(&) {
  &_gap {
    &_5 {
      grid-gap: 5px;
    }

    &_6 {
      grid-gap: 6px;
    }

    &_8 {
      grid-gap: 8px;
    }

    &_10 {
      grid-gap: 10px;
    }

    &_12 {
      grid-gap: 12px;
    }

    &_15 {
      grid-gap: 15px;
    }

    &_24 {
      grid-gap: 24%;
    }

    &_20 {
      grid-gap: 20px;
    }

    &_25 {
      grid-gap: 25px;
    }

    &_30 {
      grid-gap: 30px;
    }

    &_40 {
      grid-gap: 40px;
    }

    &_50 {
      grid-gap: 50px;
    }

    &_60 {
      grid-gap: 60px;
    }

    &_100 {
      grid-gap: 100px;
    }

    &_125 {
      grid-gap: 125px;
    }
  }
  &_row-gap {
    &_25 {
      grid-row-gap: 25px;
    }
    &_22 {
      grid-row-gap: 22px;
    }
  }
}