extends ./layout/layout

append main
    .carousel.carousel__background
        img(src= require("../img/image.png").default)
        img(src= require("../img/image 2.png").default)
        img(src= require("../img/image 3.png").default)
    .grid.grid__height_900
        +page
            .content.content_padding
                .grid.grid__2-columns.grid__2-row
                    .grid.grid__list
                        .block.block_width_380
                            +room-filter-card({
                                title: "Найдём номера под ваши пожелания",
                                href: "/search.html",
                                iqdropdown_id: "searchRoom2"
                            })
                    .grid.grid_row_end.grid_column_end.grid_align_end.grid_justify_end
                        .block.block_width_280
                            p.text.text_align_end.landing.landing__tagline Лучшие номера для вашей работы, отдыха и просто вдохновения

