extends ./signin

block form
    .grid.grid_align_center.grid_justify_center.grid__height_772
        .block.block_width_380
            +register-card({
                title: "Регистрация аккаунта"
            })