extends ./layout/layout
include ../common/login/login-card

append main
    .carousel.carousel__background
        img(src= require("../img/image.png").default)
        img(src= require("../img/image 2.png").default)

    .grid.grid_align_center.grid_justify_center
        .block.block_width_380
            +login-card