mixin checkbox-expandable(options)
    - let defaultOptions = {};
    - let {value, id} = Object.assign(defaultOptions, options);
    .fieldset.fieldset__expandable
        .fieldset__title.fieldset__label.fieldset__icon_rotatable= value
        .fieldset__content(id= id)