.currency {
  font: inherit;
  color: inherit;
  display: inline;

  &__ru {
    &:after {
      content: '₽';
    }
  }

  &__range {
    &:not(:first-child) {

      &:before {
        content: ' - ';
      }
    }
  }
}