.group {
  @import "__label/__label";
  @import "__comment/__comment";
  @import "__content/__content";

  position: relative;
  display: grid;
  grid-template-areas: "title comment" "content content";
  grid-template-columns: 1fr minmax(0, max-content);
}

//todo: deprecate
%group {
  color: red;

  &_full {
    width: 320px;
  }

  &_half {
    width: 150px;
  }

  &_middle {
    width: 266px;
  }

  &__title {

  }


  &__content {
    grid-area: content;
  }
}