mixin group(options)
    - let defaultOptions = {className: "grid grid__list grid__list_gap_10"};
    - let {label, comment, className, comment_id} = Object.assign(defaultOptions, options);
        - className = className.split(".").join(' ');
    if block
        .group(class= className)
            label.group__label= label
            label.group__comment(id= comment_id)= comment
            .group__content
                block