include ../menu/__item/menu__items

mixin header(options)
    -
        let defaultOptions = {
            auth: false,
            loginButtonName: "Login",
            registerButtonName: "Register",
            menuItems: [
                {name: "home", href: "#", current: true},
                {name: "about us", href: "#"},
                {
                    name: "services", href: "#", className: ".menu.menu__item.menu__dropdown", submenu: [
                        {name: "1", href: "#"},
                        {name: "2", href: "#"},
                        {name: "3", href: "#"}
                    ]
                },
                {name: "careers", href: "#"},
                {name: "news", href: "#"},
                {name: "documentation", href: "#"}
            ]
        };
    - let {auth, username, loginButtonName, registerButtonName, menuItems} = Object.assign(defaultOptions, options);
    header.header
        .header__wrapper.content
            .logo.logo__color.logo__title.header__logo
            .header__menu
                ul.menu.menu__wrapper.menu__inline
                    for item in menuItems
                        +menu__items(item)
                .header__auth
                    if (auth)
                        .header__user= username
                    else
                        button.button.button_type_bordered.button_fit= loginButtonName
                        button.button.button_type_filled.button_fit= registerButtonName