mixin rate(options)
    - let defaultOptions = {stars: 0, count: 5}
    - let { id, stars, count } = Object.assign(defaultOptions, options);
    - let i = 0;
    .rate(id= id)
        while i < count
            span.star(class= i++ < stars ? 'star__filled': 'star__bordered')