//-
    options.id
    options.stars
    options.count

mixin rate(options)
    - let defaultOptions = {stars: 0}
    - let { id, stars } = Object.assign(defaultOptions, options);
    .rate(id= id data-stars= stars)