.item {
  &__dropdown {
    display: grid;
    grid-template-areas: "text count";
    grid-template-columns: 1fr 90px;
    align-items: center;
  }

  &__icon {
    display: grid;
    grid-template-areas: "icon text" "icon description" "delimeter delimeter";
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;

    &:before {
      content: attr(data-image);
      @extend %icon;
      grid-area: icon;
      font-size: 48px;
    }

    &:not(:last-child) {
      &:after {
        content: '';
        width: 100%;
        height: 20px;
        grid-area: delimeter;
        border-bottom: 1px solid $dark10;
      }
    }

    &_color {
      &_purple {
        color: $primary_color;
      }
    }
  }

  &__text {
    @extend %h3;
    grid-area: text;
  }

  &__title {
    @extend %h3;
    font-size: 14px;
    text-transform: capitalize;
    grid-area: text;
    align-self: center;
  }

  &__description {
    @extend %body;
    grid-area: description;
    color: $dark50;
    align-self: center;

  }

  .iqdropdown-item-controls {
    @extend %h3;
    display: grid;
    grid-area: count;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    & > .counter {
      text-align: center;
      align-items: center;
    }

    & > .button-increment {
      &:after {
        content: '+';
      }
    }

    & > .button-decrement {
      &:after {
        content: '-';
      }
    }

    & > .button-decrement,
    & > .button-increment {
      display: grid;
      align-items: center;
      background-color: inherit;
      height: 30px;
      width: 30px;
      border: 1px solid $dark25;
      color: $dark25;
      border-radius: 15px;
      cursor: pointer;

      &:after {
        @extend %body;
        font-size: 18px;
        color: inherit;
        line-height: 22px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}