mixin item(options)
    - let defaultOptions = {value: 0};
    - let {index, value} = Object.assign(defaultOptions, options);
    li.item
        span.item__text= value
        button.item__decrease.item__decrease-inactive -
        input.item__count(value=0 id=index type="number" min="0")
        button.item__increase +