//-
    options.items - массив

mixin menu(options)
    - let defaultOptions = {items: []};
    - let {items} = Object.assign(defaultOptions, options)
    include ../item/item

    ul.menu
        each value, index in items
            +item({index, value})