.block {
  display: block;

  &_width {
    &_380 {
      width: 380px;
    }

    &_320 {
      width: 320px;
    }

    &_280 {
      width: 280px;
    }

    &_266 {
      width: 266px;
    }
  }
}