include ./__widgets/footer__widgets
include ./__simple/footer__simple
include ../menu/__item/menu__items
include ../group/group
include ../copyright/copyright
include ../input/__subscription/__subscription
include ../logo/logo