.copyright {
  &__wrapper {
    background-color: $white;
    border-top: 1px solid $dark05;
    height: 70px;
  }

  &__grid {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    font-size: 24px;
    color: $primary_color;
  }
}