mixin copyright(options)
    - let defaultOptions = {};
    - let {} = Object.assign(defaultOptions, options);

    .copyright.copyright__wrapper.grid
        .grid.content.copyright__grid
            .copyright.copyright__text Copyright © 2018 Toxin UI Kit. All rights reserved.
            .copyright.grid.grid__auto-columns.grid__auto-columns_gap_20
                a.copyright__social(href="#")
                    i.fab.fa-twitter
                a.copyright__social(href="#")
                    i.fab.fa-facebook-square
                a.copyright__social(href="#")
                    i.fab.fa-instagram