@if (&) {
  &__label {
    grid-area: label;
    align-self: center;
    cursor: pointer;

    &_border_top {
      @extend %input-hover;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:after {
      content: 'expand_more';
      @extend %icon;
      @extend %icon__button;
      grid-area: button;
    }
  }
}