@if (&) {
  // Используется шрифт Material Icons см https://material.io/resources/icons/

  &__icon {
    @extend %icon;
    @extend %icon__button;
    pointer-events: none;

    &-purple {
      background: $primary_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & ~ input {
      padding-right: 40px;
    }
  }

  .rotate {
    transform: rotate(180deg);
  }
}